*{
	padding: 0;
	margin: 0;

}
.backimg{
	width: 100%;
	height: 100vh;
	/*background-color: blue;*/
	background-image: url('snap72.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;

}
.backimg1{
	width: 100%;
	height: 100vh;
	/*background-color: blue;*/
	background-image: url('snap4.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;

}